@font-face {
    font-family: oregon;
    src: url('./fonts/OregonLdo-d9q7.ttf') format('truetype');
}

* {
    font-family: oregon;
}

/*LIST*/

ul {
    position: absolute;
    list-style-type:none;
    margin: 0;
    padding: 0;
    float: left;
    left: 10px;
    top: 10px
}

li {
    display: inline-block;
    margin: 10px
}

a {
    color: black;
    text-decoration: none
}

/*HOME BIO*/

.bio-container {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

    width: 100%;
}

.bio-wrapper {

    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: 750px;
}

.bio-text {

    text-align: left;

    font-size: 20px;
    max-width: 450px;
}

.bio-updates {

    position: absolute;

    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    font-size: 15px;
}


img {

    width: 80%;
    height: auto;
}

/* PROJECTS */

.project-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 145vh;

    width: 100%;
}

.project-title {

    text-align: left;
    font-size: 17px;
    
    width: 800px;

    padding-bottom: 10px;
}

.line1 {

    height: 1px;

    background-color: black;
}

.single-project-container {

    display: flex;
    flex-direction: column;
    text-align: left;

    margin-top: 35px;

    width: 55%;

    gap: 10px
}

.single-title {

    font-size: 17px;
}

.single-link {

    font-size: 12px;
}

.single-description {

    font-size: 15px;
}




