@font-face {
    font-family: oregon;
    src: url('./fonts/OregonLdo-d9q7.ttf') format('truetype');
}

@keyframes fadeIn {
    to {
        opacity: 1
    }
}

body {
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
}

* {
    font-family: oregon;
}

/*LINES*/

hr.hl {
    border: 10px solid black;
    position: absolute;
    width: 99%;
    bottom: 0;
    left: 0;
}

hr.hl2 {
    width: 75%;
    margin: 25px auto;
}

/*LIST*/

ul {
    position: absolute;
    list-style-type:none;
    margin: 0;
    padding: 0;
    float: left;
    left: 10px;
    top: 10px
}

li {
    display: inline-block;
    margin: 10px
}

a {
    color: black;
    text-decoration: none
}

/*HOME BIO*/

.bio {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.p1 {
    display: block;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px

}

.p2 {
    display: block;
    font-size: 18px;
    text-align: left;
    margin-left: 180px;
    margin-top: 40px;

}

/*BUTTERFLY*/

.b1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:100px;
    width: 60px
}

.b2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 40px
}

